.tutorial-page {
  position: absolute; top: 0; bottom: 0; left: 0; z-index: 600;
  width: 1920px;
  background: #000;
  user-select: none;
  -webkit-user-select: none;
}
.tutorial-page img {
  -webkit-user-drag: none;
  user-drag: none;
  pointer-events: none;
}
